**/http-client.private.env.json
.project
*/.project
.settings/
*/.settings/
.classpath
*/.classpath
**/target/
*/.springBeans
*/.factorypath
*/.apt_generated/
debug.txt*
*/export-*
*.iml
*/.idea/
.idea/
**/.vscode/
**/.sts4-cache/
utr-service/src/main/resources/.env
